<main>

  <header>
    <a href="/logout">Logout</a>
    <a href="/login">Login</a>
  </header>

  <nav>
    <ul>
      <li>
        <figure>
          <img src="/assets/logo/logo-uninove.jpg" class="responsive" alt="Uninove" style="height:100%">
        </figure>
      </li>
      <li>
        <a href="/profile">Profile</a>
      </li>
      <li>
        <a href="/users">Gestão de Usuários</a>
      </li>
    </ul>
  </nav>

  <aside>
    <ul>

      <li>
        <a href="/arena">Arena</a>
      </li>
      <li>
        <a href="/player">Gestão do personagem</a>
      </li>
      <li>
        <a href="/resource">Compra de Itens</a>
      </li>

    </ul>
  </aside>

  <section>

    <app-login></app-login>

  </section>

  <footer>FOOTER</footer>

</main>

